<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, autem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, autem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, autem.</p>
    </div>
    <%- include('./partial/footer.ejs') %>
</body>
</html>